{% extends 'core/base.html'%}

{% block content %}
<div class="position-relative w-100 h-100 cake-container">

    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <div class="balloon"></div>
    <p class="position-absolute custom-font" style="color:black !important;top:0;z-index: 50;margin-top: 2em; width: 100%;text-align: center;font-size: 3em;">Feliz Cumpleaños Kathy</p>
    
    <section id="cake">
		<section class="numbers">
			<span class="candle">2</span>
			<span class="candle">4</span>
		</section>
		<section class="cake" id="cake--top"></section>
		<section class="cake" id="cake--middle"></section>
		<section class="cake" id="cake--bottom"></section>
	</section>
</div>
{% endblock %}