{% include 'core/base.html' %}

{% block content%}
<section class="curved d-flex justify-content-center align-items-center">
    <p class="custom-font" style="font-size: 4em;text-align: center;">Feliz Cumpleaños <br />Kathy</p>
</section>
<div class="parallax">

</div>
<div style="width: 100%;">
    <div class="bg" style="margin:2em 0 0 0">
        <div class="spike">
            <div class="porcupine">
                <div class="head">
                    <div class="leftEar"></div>
                    <div class="rightEar"></div>
                    <div class="leftEye"></div>
                    <div class="rightEye"></div>
                    <div class="nose"></div>
                </div>
            </div>

        </div>

        <div class="cloud">
            <div class="text">
                <p>Feliz Cumpleaños.¡No me toques!</p>
            </div>
        </div>

        <div class="text">
            <p></p>
        </div>
    </div>
    <p style="margin: 0 3em 3em 3em; font-size: 2em;text-align: justify;">
Feliz cumpleaños Kathy, gracias a Dios por haberte permitido cumplir otro año mas de vida, espero que te la pases bien este dia con tu familia. Gracias por haber sido una gran amiga en el "poco" tiempo que llevamos de conocernos, haz sido la unica persona con la que me he llegado a morir de la risa, la unica con la que me he quedado platicando por horas (y amanecer), y haber contado cosas de mi vida que nadie sabe. Igual gracias, por haberme contado cosas que te han pasado/pasan. Y curiosamente, tambien haber encontrado a alguien con demasiados gustos en comun
<br/>
Eres una persona increible, tu estas ahi cuando alguien quiere ser escuchado, al igual que ayudar a quien lo necesite y preocuparse por los tuyos, eres una persona divertida y con una personalidad diferente. Espero conservar esta amistad contigo por los años, y poder verte concluir tambien esta carrera. Y para lo que necesites, sabes que podras contar conmigo
<br/>
Espero con la voluntad de Dios verte regresando y poderte dar una brazo de felicitaciones, y darte el chocolate y helado que te debo. Tambien espero poder verte otro año mas con  vida.
<br/>
PD: Una disculpa si fue algo sencillo, honestamente tire el proyecto como 3 veces y desde el viernes a las 7 me la pase haciendolo otra vez. Y tambien una disculpa si este texto tiene errores de cualquier tipo, o no esta bien redactado, solo dire... "Mucho tiempo de pantalla"
<br/>
PD2: Buenos dias, Descansaste? Ya te sientes al 100% ? :3
    </p>
</div>
{% endblock %}