@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.custom-font{
    font-family: 'Cedarville Cursive', cursive;
    font-style: none;
    font-size: 1.5em;
    color:#fff;
}


.bg-nav-color{
    background: #DE1B85;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6C1660;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FAF3E3;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
}
.sidenav .link {
    width:85%;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FAF3E3;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
}

#contentcontainer{
    transition: margin-left .5s;
    padding: 16px;
    margin: 0;
    padding: 0;
    border: 0;
}

.sidenav .link:hover {
    color: #6C1660;
    background-color: #FAF3E3;
    border-radius: 0 1em 1em 0;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

.curved {
    position: relative;
    background: #DE1B85;
    height: 50vh;
    border-bottom-left-radius: 50% 18%;
    border-bottom-right-radius: 50% 18%;
}

.cake-container {
    background:hsl(70, 31%, 85%); 
    text-align:center;
}

.balloon {
    display:inline-block;
    width:120px;
    height:145px;
    background:hsl(215,50%,65%);
    border-radius:80%;
    position:relative;
    box-shadow:inset -10px -10px 0 rgba(0,0,0,0.07);
    margin:20px 30px;
    transition:transform 0.5s ease;
    z-index:10;
    animation:balloons 4s ease-in-out infinite;
    transform-origin:bottom center;
}

@keyframes balloons {
    0%,100%{ transform:translateY(0) rotate(-4deg); }
    50%{ transform:translateY(-25px) rotate(4deg); }
}


.balloon:before {
    content:"▲";
    font-size:20px;
    color:hsl(215,30%,50%);
    display:block;
    text-align:center;
    width:100%;
    position:absolute;
    bottom:-12px;
    z-index:-100;
}

.balloon:after {
    display:inline-block; top:153px;
    position:absolute;
    height:250px;
    width:1px;
    margin:0 auto;
    content:"";
    background:rgba(0,0,0,0.2); 
}

.balloon:nth-child(2){ background:hsl(245,40%,65%); animation-duration:3.5s; }
.balloon:nth-child(2):before { color:hsl(245,40%,65%);  }

.balloon:nth-child(3){ background:hsl(139,50%,60%); animation-duration:3s; }
.balloon:nth-child(3):before { color:hsl(139,30%,50%);  }

.balloon:nth-child(4){ background:hsl(59,50%,58%); animation-duration:4.5s; }
.balloon:nth-child(4):before { color:hsl(59,30%,52%);  }

.balloon:nth-child(5){ background:hsl(23,55%,57%); animation-duration:5s; }
.balloon:nth-child(5):before { color:hsl(23,44%,46%);  }

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation: arrow 4s ease-in-out infinite;
} 
.arrow::after{
    content:'Click';
    transform: rotate(-135deg) translateX(2.5em) translateY(-8px);
    position:absolute;
    font-family: 'Cedarville Cursive', cursive;
}
.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@keyframes arrow{
    0%,100%{transform: translateX(0) rotate(135deg);}
    50%{transform: translateX(25px) rotate(135deg);}
}

#cake {
    width: 500px;
    height: 500px;
    margin: 0 auto 0 auto;
  }
  
  .cake {
      border-radius: 20px 20px 0px 0px;
      margin: 0 auto 0 auto;
      background-image: 
          linear-gradient(transparent 40%, #E6C197 40%),
          linear-gradient(transparent 35%, #542F04 35%);
      background-size: 50px 50px;
      background-color: #FFEDD9;
      border: 10px solid #542F04;
      box-shadow: 0 2px 10px black;
  }
  
  .cake:before {
      content: '';
    position: absolute;
    width: inherit;
    height: 50px;
    border-radius: 8px 8px 0 0;
    background-size: 50px 60px;
    background-image: 
        radial-gradient(circle at 25px 15px, #542F04 30px, transparent 0px), 
        radial-gradient(circle at 25px 20px, rgba(0, 0, 0, 0.3) 30px, transparent 0px);
    background-repeat: repeat;
}

.cake:after {
    content: '';
    position: absolute;
    width: 20px;
    height: 80px;
    border-radius: 10px;
    background-color: #542F04;
    margin-left: 10px;
}

#cake--bottom {
    height: 150px;
    width: 400px;
} 

#cake--middle {
    width: 300px;
    height: 100px;
    border-bottom: none;
}

#cake--top {
    width: 150px;
    height: 75px;
    border-bottom: none;
}

.numbers {
    margin: 0 auto -35px auto;
    text-align: center;
}

.candle {
    font-size: 7em;
    font-family: 'Paytone One', sans-serif;
    color: #DD3939;
}