@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap');

.custom-font{
    font-family: 'Cedarville Cursive', cursive;
    font-style: none;
    font-size: 1.5em;
    color:#fff;
}


.bg-nav-color{
    background: #DE1B85;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6C1660;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FAF3E3;
    /* color: #818181; */
    display: block;
    transition: 0.3s;
}

#contentcontainer{
    transition: margin-left .5s;
    padding: 16px;
    margin: 0;
    padding: 0;
    border: 0;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.curved {
    position: relative;
    background: #DE1B85;
    height: 50vh;
    border-bottom-left-radius: 50% 18%;
    border-bottom-right-radius: 50% 18%;
}